.app{
  display: flex;
  height: 900px;
  /* flex-wrap: wrap; */
}

.customer-list {
  width: 30%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.customer-card {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.customer-card.selected {
  background-color: 
  #eeeeee
}

.customer-details {
  padding: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: 
  #f9f9f9 
  /* justify-content: center; */
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.photo-grid img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}